@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


    /*       */
    /* Basic */
    /*       */

body {
  font-family: 'Inconsolata', monospace;
  background-color: #232323;
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #f5554f;
}

h1, h2, h3, h4, h5, h6, p {
  color: #e6e6e6 !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}


    /*        */
    /* Navbar */
    /*        */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5em;
}

.navbar-module {
  margin: 0;
}

.navbar-module ul li a, .navbar-module ul li a svg {
  font-weight: 700;
  font-size: 125%;
  color: #f5554f;
}

.navbar-module ul:first-child a, .navbar-module ul:first-child a svg {
  padding-left: 0;
}

.navbar-module ul li, .navbar-module ul li a svg {
  display: inline;
}

.navbar-item {
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  padding: .3em .8em;
  border: 2px solid transparent;
  border-radius: 6px;
  font-weight: 700;
  font-size: 22.5px;
}

.navbar-socials {
  margin: 0;
}

    /*        */
    /*  Main  */
    /*        */

.intro {
    text-align: center;
    padding: 6em 0;
}

.intro-header {
    font-size: 3.5em;
    font-weight: 700;
    color: #101010;
    margin-bottom: .3em;
}

.intro-description {
    font-size: 2em;
    font-weight: lighter;
    margin-top: .3em;
    margin-bottom: .8em;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.about-text {
    flex: 70% 1;
    margin-right: 5em;
    max-width: 500px;
    margin-top: 1em;
    font-size: 18px;
}

.about-picture {
    /* flex: 30% 1; */
}

.second-main {
  background-color: #1a1a1a;
}

.headshot {
	flex-shrink: 0;
	margin: 20px;
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.headshot-3 {
	border-radius: 50% 10%;
  background-image: url(''),
		linear-gradient(to bottom left, #f5554f, #f5554f9e);
}

.copyright-text {
  position: absolute;
  margin-top: calc(-50px - 0.2vw);
  transform: rotate(-2deg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
